.header{
    padding: 2rem 0;
    position: sticky;
    top: 0;
    background: transparent;
    backdrop-filter: blur(3px);
}
.navigation{
    list-style: none;
    display: flex;
    font-weight: 300;
    gap: 0.5rem;
}