@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap');
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}
main{
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 4rem 1rem;
    max-width: 1200px;
}
.navbar a{
    color: var(--white);
    text-decoration: none;
}
.navbar a:hover{
    color: var(--magenta);
}
h2 a i{
    margin-right: 0.5em;
    color: var(--aqua);
}

.nav [class*='fa-']{
    color: var(--aqua);
}.nav [class*='fa-']:hover{
    color: var(--magenta);
}
.nav-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.nav{
    flex: 1;
    padding: 0 1rem;    
}
.resume-btn{
    height: 2rem;
    background-color: var(--magenta);
    border-radius: 0.2rem;
    width: 5.5rem;
    padding-left: 0.4rem;
}
.resume-btn a:hover{
    color: var(--white);
}
.nav-list li:last-child:hover{
    background-color: var(--hotmag);
}
.main-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0rem 1rem;
}
.main-content img{
    height: 400px;
    width: 400px;
    border-radius: 400px;
}
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro{
    font-size: 0.9rem;
    font-family: var(--mono);
}
.name{
    margin-top: 0.4em;
    color: var(--aqua);
    font-size: 3em;
}
.catch-line{
    margin-top: 0.4em;
    font-size: 2em;
}
.description,.current{
    margin-top: 1.5em;
    font-size: 1rem;
    font-family: var(--mono);
}
.working-projects{
    list-style: square;
    margin-top: 0.4em;
}
.working{
    margin-top: 1em;
    font-size: 1rem;
    padding: 0 1rem;
    font-family: var(--mono);
}
.gradient{
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
    height: 2px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 300px;
    background-color: var(--plum);
}
.footer-desc{
    padding: 2rem 0;
}
.email-btn{
    background-color: var(--magenta);
    padding: 0 0.5rem;
    vertical-align: middle;
    height: 2em;
    border: none;
    border-radius: 0.2em;
    color: var(--white);
    font-size: 1em;
    font-family: var(--mono);
}
.email-btn:hover{
    background-color: var(--hotmag);
}
/* project section
*/
.bk-blue{
    background-color: var(--dkblue);
    height: 100%;
}
.heading-project{
    padding: 1rem 1rem;
    margin: 0 auto;
}
.projects{
    padding: 3rem 1rem;
    margin: 0 auto;
    display: grid;
    gap: 1;
    grid-template-columns: repeat(3, 1fr);
}
.project{
    margin-bottom: 1rem;
}
.project-heading{
    font-size: 1.2em;
    color: var(--aqua);
    width: 350px;
}
.project-desc{
    background-color: var(--black);
    padding: 3rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    margin: 1rem 0;
    font-family: var(--mono);
    width: 350px;
}
.projects > div{
    font-family: var(--mono);
}
.tech-stack{
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}
.skill-section{
    background-color: var(--plum);
    height: 100vh;
}
.skill-heading{
    padding: 1rem 1rem;
    margin: 0 auto;
}
.skill-column{
    padding: 3rem 1rem;
    margin: 0 auto;
    display: grid;
    gap: 1;
    grid-template-columns: repeat(3, 1fr);
}
.languages h2{
    font-size: 1.2em;
    color: var(--aqua);
    width: 350px;
    margin-top: -50px;
}
.frameworks h2{
    font-size: 1.2em;
    color: var(--aqua);
    width: 350px;
    margin-top: -50px;
}
.certifications h2{
    font-size: 1.2em;
    color: var(--aqua);
    width: 350px;
    margin-top: -50px;
}
.languages, .frameworks, .certifications{
    width: 400px;
    height: 3rem;
    font-family: var(--mono);
    color: var(--white);
    margin: 2rem 0;
}

.language-skills, .framework-skills, .certificates{
    background-color: var(--black);
    padding: 3rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    margin: 1rem 0;
    font-family: var(--mono);
    width: 400px;
    display: flex;
    flex-direction: column;
}

.container-language, .container-framework{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 0;
}
.certificates{
    list-style: square;
    padding: 1rem 2rem;
}
.certificate{
    padding: 0.8rem 0;
}
.certificate a:link{
    text-decoration: none;
}
.certificate a{
    color: var(--white);
}
.certificate a:visited{
    color: var(--white);
}
.certificate a:hover{
    color: var(--magenta);
}
.level{
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
    height: 2px;
    width: 200px;
}
.language-skills div:nth-child(1)  .level{
    width: 200px;
}
.language-skills div:nth-child(2)  .level{
    width: 200px;
}
.language-skills div:nth-child(3)  .level{
    width: 180px;
}
.language-skills div:nth-child(4)  .level{
    width: 180px;
}
.language-skills div:nth-child(5)  .level{
    width: 180px;
}
.language-skills div:nth-child(6)  .level{
    width: 150px;
}
.language-skills div:nth-child(7)  .level{
    width: 180px;
}
.language-skills div:nth-child(8)  .level{
    width: 100px;
}
.language-skills div:nth-child(9)  .level{
    width: 100px;
}

/*framework levels*/
.framework-skills div:nth-child(1)  .level{
    width: 150px;
}
.framework-skills div:nth-child(2)  .level{
    width: 200px;
}
.framework-skills div:nth-child(3)  .level{
    width: 180px;
}
.framework-skills div:nth-child(4)  .level{
    width: 180px;
}
.framework-skills div:nth-child(5)  .level{
    width: 180px;
}
.framework-skills div:nth-child(6)  .level{
    width: 150px;
}
.framework-skills div:nth-child(7)  .level{
    width: 180px;
}
